body {
  margin: 0;
  padding: 0;
}

/* Colourscheme */
:root {
  --fg-pri: #363636; /* jet, two shades off black */
  --fg-sec: #000000; /* black for highlighting */
  --bg-pri: #fbfbfb; /* white, subtley grey */
  --shadow: var(--fg-pri);
}